@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-new: 'Ubuntu', sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;
